@model BS.Admin.Web.Models.CreateLicenseModel
@{
    ViewBag.Title = "Редакция на лиценз";
}

<style>
    select {
        width: 120px;
        height: 25px;
    }
</style>

<h2>@ViewBag.Title</h2>
<br />
<br />

@using (Html.BeginForm("Edit", "License", FormMethod.Post))
{
    <span style="color:green">@ViewBag.Message</span>
    <span style="color:red">@ViewBag.ErrorMessage</span>
    <table>
        @if (Model != null && Model.Id != Guid.Empty)
        {
            <tr>
                <td>
                    <span>Идентификатор:</span>
                </td>
                <td>
                    @Html.Raw(Model.Id)
                </td>
            </tr>
        }

        <tr>
            <td>
                <span>Валиден до:</span>
            </td>
            <td>
                @Html.TextBoxFor(m => m.ValidTo, new { @class = "datepicker", style = "width: 140px" })
            </td>
        </tr>
        <tr>
            <td>
                <span>Абониран до:</span>
            </td>
            <td>
                @Html.TextBoxFor(m => m.SubscribedTo, new { @class = "datepicker", style = "width: 140px" })
            </td>
        </tr>
        <tr>
            <td>
                Демо:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsDemo)
            </td>
        </tr>
        <tr>
            <td>
                Потребител:
            </td>
            <td>
                @Html.DropDownListFor(m => m.UserId, new SelectList(Model.Users, "Id", "Name"))
            </td>
        </tr>
        <tr>
            <td>
                Вид:
            </td>
            <td>
                @Html.DropDownListFor(m => m.Type, new SelectList(Model.Types))
            </td>
        </tr>
        <tr>
            <td>
                Потвърден:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.Enabled)
            </td>
        </tr>
        <tr>
            <td>
                Активиран:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsActivated, new { @disabled = "disabled" })
            </td>
        </tr>
    </table>
    <section>
        <fieldset style="width:400px">
            <legend>Модули</legend>
            <table>
                <tr>
                    <td>
                        Счетоводство:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Accounting)
                    </td>
                </tr>
                <tr>
                    <td>
                        Производство:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Production)
                    </td>
                </tr>
                <tr>
                    <td>
                        Склад:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Warehouse)
                    </td>
                </tr>
                <tr>
                    <td>
                        Търговска система:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.TradingSystem)
                    </td>
                </tr>
                <tr>
                    <td>
                        ТРЗ:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Salary)
                    </td>
                </tr>
                <tr>
                    <td>
                        Графици:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Schedules)
                    </td>
                </tr>
            </table>
        </fieldset>
    </section>
    <input type="submit" value="Редактирай" />
}