@model BS.Admin.Web.Models.CreateLicenseModel
@{
    ViewBag.Title = "Редакция на лиценз";
}

<h2>@ViewBag.Title</h2>
<br />
<br />

<style>
    fieldset {
        width: 600px;
    }
</style>

@using (Html.BeginForm("Edit", "License", FormMethod.Post))
{
    <span style="color:green">@ViewBag.Message</span>
    <span style="color:red">@ViewBag.ErrorMessage</span>
    <table>
        @if (Model != null && Model.Id != Guid.Empty)
        {
            <tr>
                <td>
                    <span>Идентификатор:</span>
                </td>
                <td>
                    <strong>@Html.Raw(Model.Id)</strong>
                </td>
            </tr>
        }

        <tr>
            <td>
                <span>Валиден до:</span>
            </td>
            <td>
                @Html.TextBoxFor(m => m.ValidTo, new { @Value = Model.ValidTo.ToString(BS.Admin.Web.Const.ShortDatePattern), @class = "datepicker" })
            </td>
        </tr>
        <tr>
            <td>
                <span>Абониран до:</span>
            </td>
            <td>
                @Html.TextBoxFor(m => m.SubscribedTo, new { @Value = Model.SubscribedTo.HasValue ? Model.SubscribedTo.Value.ToString(BS.Admin.Web.Const.ShortDatePattern) : "", @class = "datepicker" })
            </td>
        </tr>
        <tr>
            <td>
                Демо:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsDemo)
            </td>
        </tr>
        <tr>
            <td>
                <span title="Потребителя или фирмата, която е закупила лиценза">Потребител/Фирма:</span>
            </td>
            <td>
                @Html.DropDownListFor(m => m.UserId, BS.Admin.Web.DropdownHelper.LicenseUsers(), new { @class = "selectList" })
            </td>
        </tr>
        <tr>
            <td>
                Вид:
            </td>
            <td>
                @Html.DropDownListFor(m => m.Type, BS.Admin.Web.DropdownHelper.LicenseTypes(), new { @class = "selectList" })
            </td>
        </tr>
        <tr>
            <td>
                Брой компютри:
            </td>
            <td>
                @Html.EditorFor(m => m.WorkstationsCount)
            </td>
        </tr>

        <tr>
            <td>
                Потвърден:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.Enabled)
            </td>
        </tr>
        <tr>
            <td>
                Активиран:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsActivated, new { @disabled = "disabled" })
            </td>
        </tr>
    </table>
    <section>
        <fieldset>
            <legend>Модули</legend>
            <table>
                <tr>
                    <td>
                        Счетоводство:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Accounting)
                    </td>
                </tr>
                <tr>
                    <td>
                        Склад:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Warehouse)
                    </td>
                </tr>
                <tr>
                    <td>
                        ТРЗ:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Salary)
                    </td>
                </tr>
                <tr>
                    <td>
                        Графици:
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Schedules)
                    </td>
                </tr>
            </table>
        </fieldset>
    </section>

    <div style="margin-top:20px;">
        @{ Html.RenderAction("LicenseActivations", new { LicenseId = Model.Id }); }
    </div>

    <div style="margin-top:20px;">
        @{ Html.RenderAction("LicenseVariables", new { LicenseId = Model.Id }); }
    </div>



    <div style="margin-left:50px;margin-top:20px;">
        <input type="submit" value="Редакция" />

        @Html.ActionLink("Отказ", "Cancel", null,
                      new { @class = "link-button", onclick = "return confirmChanges();" })
    </div>
}

<script>
    function confirmChanges() {
        if (isChanged) {
            return confirm('Отазване от промените?');
        }
        return true;
    }

    var isChanged = false;
    $(function () { // will trigger when the document is ready
        $('input,select,textarea').change(function () {
            isChanged = true;
        });
    });
</script>