@using BS.Common
@model BS.Admin.Web.Models.LicenseSortedCollection
@{
    ViewBag.Title = "Index";
}

<style>
    .large-width {
        width: 200px;
    }
    .small-width {
        width: 100px;
    }
    .odd {
        
    }
    .even {
        background: burlywood;
    }
    td {
        text-align: center;
    }

    /*.border-small {
        border-bottom: 5px solid black;
    }*/
</style>
<h2>Лицензи</h2>
<br />
@if (BS.Admin.Web.RolesManager.CanCreateLicense(User.Identity))
{
    @Html.ActionLink("Създай лиценз", "Create", "License") 
}

<br />
<br />
<br />

<table border="1">
    @*<tr>
        <td class="small-width"></td>
        <td class="large-width"></td>
        <td class="large-width">@Html.ActionLink("Валиден до", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.ValidTo, asc = Model.IsAscending(2) })</td>
        <td class="small-width">@Html.ActionLink("Демо", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.IsDemo, asc = Model.IsAscending(3) })</td>
        <td class="small-width">@Html.ActionLink("Потребител", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.User, asc = Model.IsAscending(4) })</td>
        <td class="small-width">@Html.ActionLink("Създаден на", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Created, asc = Model.IsAscending(5) })</td>
        <td class="small-width">@Html.ActionLink("Активиран", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Active, asc = Model.IsAscending(6) })</td>
        <td class="small-width">@Html.ActionLink("Потвърден", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Enabled, asc = Model.IsAscending(7) })</td>
        <td class="small-width">@Html.ActionLink("Вид", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Type, asc = Model.IsAscending(8) })</td>
    </tr>*@
    <tr class="border-small">
        @if (BS.Admin.Web.RolesManager.CanCreateLicense(User.Identity)) 
        { 
            <th class="small-width"></th>
        }
        <th class="large-width">@Html.ActionLink("Идентификатор", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Id, asc = Model.IsAscending(1), page = ViewBag.PageIndex })</th>
        <th class="large-width">@Html.ActionLink("Валиден до", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.ValidTo, asc = Model.IsAscending(2), page = ViewBag.PageIndex })</th>
        <th class="small-width">@Html.ActionLink("Демо", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.IsDemo, asc = Model.IsAscending(3), page = ViewBag.PageIndex })</th>
        <th class="small-width">@Html.ActionLink("Потребител", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.User, asc = Model.IsAscending(4), page = ViewBag.PageIndex })</th>
        <th class="small-width">@Html.ActionLink("Създаден на", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Created, asc = Model.IsAscending(5), page = ViewBag.PageIndex })</th>
        <th class="small-width">@Html.ActionLink("Активиран", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Active, asc = Model.IsAscending(6), page = ViewBag.PageIndex })</th>
        <th class="small-width">@Html.ActionLink("Потвърден", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Enabled, asc = Model.IsAscending(7), page = ViewBag.PageIndex })</th>
        <th class="large-width">@Html.ActionLink("Вид", "Index", new { sort = BS.Admin.Web.Models.SortedLicenseEnum.Type, asc = Model.IsAscending(8) })</th>
    </tr>
    
    @{ var odd = true; }
    @foreach (var x in Model.Licenses)
{
    <tr class="@(odd ? "odd": "even") border-small">
        @if (BS.Admin.Web.RolesManager.CanCreateLicense(User.Identity))
        {
        <td class="large-width">
            @Html.ActionLink("Редакция", "Edit", new { id = x.Id })
            @Html.ActionLink("Код", "LicenseCode", new { id = x.Id }, new { @class = "dialog" })
        </td>
        }
        <td class="large-width" style="width: 350px">
            @Html.ActionLink(x.Id.ToString().Substring(0, 20), "Details", new { id = x.Id, title = x.Id.ToString() })<span>...</span>
        </td>
        <td class="large-width">
            @x.ValidTo.ToShortDateString()
        </td>
        <td class="small-width">
            @x.IsDemo.ToBgString()
        </td>
        <td class="small-width">
            @Html.ActionLink(x.User.Name, "Details", "UserLicense", new { id = x.User.Id }, null)
        </td>
        <td class="small-width">
            @x.Created.ToShortDateString()
        </td>
        <td class="small-width">
            @x.IsActivated.ToBgString()
        </td>
        <td class="small-width">
            @x.Enabled.ToBgString()
        </td>
        <td class="large-width">
            @x.Type.Description()
        </td>
    </tr>
    odd = !odd;
}
</table>
<br />

<span>Страница: </span>
@foreach (var p in (string[])ViewBag.Pages) 
{
    if (ViewBag.PageIndex.ToString() == p) 
    {
        @Html.ActionLink(p.ToString(), "Index", new { sort = Model.SortExpression, asc = Model.Asc, page = p }, new { style = "color: red" })
    }
    else 
    {
        @Html.ActionLink(p.ToString(), "Index", new { sort = Model.SortExpression, asc = Model.Asc, page = p }) 
    }
}

<script type="text/javascript">
    $(function () {
        $('a.dialog').click(function () {
            var url = $(this).attr('href');
            var dialog = $('<div style="display:none"></div>').appendTo('body');
            dialog.load(url, {},
                function (responseText, textStatus, XMLHttpRequest) {
                    dialog.dialog({
                        title: 'Лицензен код',
                        width: 700,
                        height: 200,
                        close: function (event, ui) {
                            dialog.remove();
                        }
                    });
                });
            return false;
        });
    });
</script>