@model List<BS.Common.LicenseModel>
@{
    ViewBag.Title = "Index";
}

<h2>Лицензи</h2>

<table border="1">
    <tr>
        <th></th>
        <th>License Id</th>
        <th>Valid to</th>
        <th>Enabled</th>
        <th>Type</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>

                @Html.ActionLink("Редакция", "Edit", new { id = x.Id })
            </td>
            <td>
                @Html.ActionLink(x.Id.ToString(), "Details", new { id = x.Id })
            </td>
            <td>
                @x.ValidTo
            </td>
            <td>
                @*@x.Enabled*@
            </td>
            <td>
                @x.Type
            </td>
        </tr>
    }
</table>

<span>Страница: </span>
@foreach (var p in (string[])ViewBag.Pages) 
{
    if (ViewBag.PageIndex.ToString() == p) 
    {
        @Html.ActionLink(p.ToString(), "Index", new { page = p }, new { style = "color: red" })
    }
    else 
    {
        @Html.ActionLink(p.ToString(), "Index", new { page = p }) 
    }
}