@model BS.Admin.Web.Models.CreateLicenseOwnerModel
@{
    ViewBag.Title = "Информация за потребител";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td>@Html.LabelFor(m => m.Id)</td>
        <td><strong>@Html.Raw(Model.Id)</strong></td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Name)</td>
        <td>@Html.EditorFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.IsDemo)</td>
        <td>@Html.EditorFor(m => m.IsDemo)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.IsCompany)</td>
        <td>@Html.EditorFor(m => m.IsCompany)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Phone)</td>
        <td>@Html.EditorFor(m => m.Phone)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Email)</td>
        <td>@Html.EditorFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ContactPerson)</td>
        <td>@Html.EditorFor(m => m.ContactPerson)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.CompanyId)</td>
        <td>@Html.EditorFor(m => m.CompanyId)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.EGN)</td>
        <td>@Html.EditorFor(m => m.EGN)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PostCode)</td>
        <td>@Html.EditorFor(m => m.PostCode)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.RegistrationAddress)</td>
        <td>@Html.EditorFor(m => m.RegistrationAddress)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PostAddress)</td>
        <td>@Html.EditorFor(m => m.PostAddress)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.MOL)</td>
        <td>@Html.EditorFor(m => m.MOL)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AccountingPerson)</td>
        <td>@Html.EditorFor(m => m.AccountingPerson)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.DDSRegistration)</td>
        <td>@Html.EditorFor(m => m.DDSRegistration)</td>
    </tr>
</table>
<br />
<br />

<fieldset>
    <legend><strong>Лицензи на потребител</strong></legend>
    <br />
    <br />
    @{ Html.RenderAction("Search", "License", new { userId = Model.Id }); }
</fieldset>

<script>
    $(function () { // will trigger when the document is ready
        $('input').prop('disabled', true);
        $('select').prop('disabled', true);
        $('input').prop('readonly', true);
        $('select').prop('readonly', true);
    });
</script>

