<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="/scripts/datepicker-bg.js"></script>
    
    <link type="text/css" rel="stylesheet" href="/scripts/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="/scripts/jsgrid-theme.min.css" />

    <script type="text/javascript" src="/scripts/jsgrid.js"></script>

    <style>
        select {
        }

        .selectList {
            width: 250px;
            height: 25px;
        }

        .datepicker {
            width: 220px;
            height: 22px;
        }
        .large-width {
            width: 200px;
        }

        .small-width {
            width: 100px;
        }

        .odd {
        }

        .even {
            background: burlywood;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @Html.Partial("_LoginPartial")
            </div>
            @if (User.Identity != null 
                && User.Identity.IsAuthenticated 
                && !string.IsNullOrEmpty(User.Identity.Name))
            {
                <div class="float-right">
                    <nav>
                        <ul id="menu" style="text-align:center">
                            <li>@Html.ActionLink("Лицензи", "Index", "License")</li>
                            <li>@Html.ActionLink("Потребители на лицензи", "Index", "UserLicense")</li>
                            @if (BS.Admin.Web.RolesManager.IsAdministrator(User.Identity))
                            {
                                <li>@Html.ActionLink("IP Конфигурации", "IPs", "Settings")</li>
                                <li>@Html.ActionLink("Създаване на потребител", "Register", "Account")</li>
                            }
                        </ul>
                    </nav>
                </div>
            }
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - BS Admin</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' }); //Initialise any date pickers
        });
    </script>
</body>
</html>
